@mixin hover_and_before ($value) {
  background-color: #eee;
  border: solid black 1px;
  transition: transform 2s;
  position: relative;
  &::before {
    content: "#{$value}";
    position: absolute;
    left: 40%;
    top: 35%;
  }
  &:hover {
    cursor: pointer;
    transform: translateY(-20px);
    background-color: pink;
  }
}
